<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="baidu-site-verification" content="QIQ6KC1oZ6">
<title>找工作-互联网招聘求职网</title>
<link rel="stylesheet" type="text/css"
	href="/css/main.html_aio_2830e9c.css">
<link rel="stylesheet" type="text/css"
	href="/css/layout_1be28a1.css">
<link rel="stylesheet" type="text/css"
	href="/css/widgets_72b87ec.css">
<link rel="stylesheet" type="text/css"
	href="/css/main.html_aio_2_5ab67db.css">
<body>
	<div id="banner">
		<h1>请审核信息</h1>
	</div>
	<div class="container">
		<div class="infos-container with-bg">
			<ul class="infos">
				<li class="li"><span class="info-list">姓名</span> <span
					class="info-content"><input type="text" readonly="readonly"
						th:value="${session.schoolman.getName()}"></span></li>
				<li class="li"><span class="info-list">学校</span> <span
					class="info-content"><input type="text" readonly="readonly"
						th:value="${session.schoolman.getSchool()}"></span></li>
				<li class="li"><span class="info-list">职位</span> <span
					class="info-content"><input type="text" readonly="readonly"
						th:value="${session.schoolman.getIdentity()}"></span></li>						
			</ul>
		</div>
			<div class="user-input-container">
				<ul class="check-content">
					<li class="file-upload-section"><label class="label">
							身份认证 </label>
						<div class="file-upload-title">
							<span class="please-upload">个人身份证照</span> <span class="show-example">职位证明照</span>
						</div>
						<div class="file-upload-div uploaded">
							<img width="154" height="220"
								th:src="${session.schoolman.getIdcardp()}" class="example-img">
						</div>
					
						<div class="file-img-tip">
							<img width="154" height="220"
								th:src="${session.schoolman.getJobp()}" class="example-img">
						</div>
						</li>
				</ul>
				<form action="/admin/Schoolman/ToExamine">
					<div class="submit-button-div">	 <label><input name="yesorno" type="radio"
					value="yes" />审核通过</label> <label><input name="yesorno"
					type="radio" value="no" />审核未通过</label>	
						<a class="btn goto-check"><input type="submit" value="确定" class="submit"></a>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>