<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>找工作-互联网招聘求职网</title>
<link href="/css/app.e5bf2f24d9fe1c057e47e65cc4fe6caf.css" rel="stylesheet">
</head>
<body>
	<div class="modify-pwd-page clearfix">
		<form class="vi-form fl form" action="/recruiter/SavePassword">
			<p class="title">
				登录用户名:<span><input type="text" readonly="readonly"
					th:value="${session.recruiter.getUsername()}"></span>
			</p>
			<div class="vi-form-item vi-form-item--feedback is-required">
				<div class="vi-form-item__content">
						<input type="password" placeholder="请输入新密码" autocomplete="off"
							class="vi-input__inner" name="password1" required="required">
				</div><span th:text="${message1}"></span>
			</div>
			<div class="vi-form-item vi-form-item--feedback is-required">
				<div class="vi-form-item__content">
						<input type="password" placeholder="请输入确认密码" autocomplete="off"
							class="vi-input__inner" name="password2" required="required">
				</div><span th:text="${message2}"></span>
			</div>
			<div class="vi-form-item submit-btn vi-form-item--feedback">
				<div class="vi-form-item__content">
					<button class="vi-button vi-button--primary" type=submit>
						<span>保存</span>
					</button>

				</div>
			</div>
	
		</form>
	</div>
</body>
</html>