<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="baidu-site-verification" content="QIQ6KC1oZ6">
<title>找工作-互联网招聘求职网</title>
<link rel="stylesheet" type="text/css"
	href="/css/main.html_aio_2830e9c.css">
<link rel="stylesheet" type="text/css" href="/css/layout_1be28a1.css">
<link rel="stylesheet" type="text/css" href="/css/widgets_72b87ec.css">
<link rel="stylesheet" type="text/css"
	href="/css/main.html_aio_2_5ab67db.css">
<link href="/css/main_16f99127.css"
	rel="stylesheet">
<body>
<div id="lg_tbar">
			<div class="inner">
				<ul class="lg_tbar_r">
				<li class="msg_dropdown" data-lg-tj-track-code="index_message">
						<a class="msg_group" href="/recruiter/ApplyLoad"
						data-lg-tj-id="5h00" data-lg-tj-no="idnull"
						data-lg-tj-cid="idnull" rel="nofollow">投递箱<em
							class="msg_amount hide" id="headMsgAmount"></em></a> 
					</li>
					<li class="user_dropdown" data-lg-tj-track-code="index_user"><span 
						class="unick bl" th:if="${session.recruiter.getName()==null}"
						th:text="${session.recruiter.getUsername()}+',快去完个人信息吧!'"></span> <span
						th:if="${session.recruiter.getName()!=null}" class="unick bl"
						th:text="${session.recruiter.getName()}+'你好！'"></span> <em
						class="noticeDot dn" id="noticeDot_name"></em> <i></i>
						<ul>
							<li><a href="/recruiter/PersonalInformationLoad" data-lg-tj-id="5c00"
								data-lg-tj-no="idnull" data-lg-tj-cid="idnull">更改信息</a></li>
							<li><a href="/recruiter/UpdatePassword" data-lg-tj-id="5c00"
								data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">更改密码</a></li>
							<li><a href="/recruitersLogin" data-lg-tj-id="5e00"
								data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">退出登录</a>
							</li>
						</ul></li>	
				</ul>
			</div>
		</div>
	<div class="settings-header">
		<div class="settings-header-title">招聘设置</div>
		<ul class="settings-header-tab">
			<li><a href="/recruiter/PersonalInformationLoad"><span
					class="menu-item">个人信息</span></a><span class="divider"></span></li>
			<li><a href="/recruiter/IdentityLoad"><span
					class="menu-item">身份认证</span></a><span class="divider"></span></li>
			<li><a href="/recruiter/PostLoad"><span
					class="menu-item menu-item-active">发布职位</span></a><span class="divider"></span></li>
		</ul>
	</div>
	<div id="banner">
		<h1>更改职位</h1>
	</div>
	<div class="container">
		<form id="businessLicence" action="/recruiter/ChangeTheJob"
			enctype="multipart/form-data" autocomplete="off"
			class="email-check-hide" method="post">
			<div class="infos-container with-bg">
				<ul class="infos">
					<li class="li"><span class="info-list">岗位名称：</span> <span
						class="info-content"><input type="text" name="name"
							th:value="${session.job.getName()}"></span></li>
					<li class="li"><span class="info-list">工作经验：</span> <span
						class="info-content"><input type="text" name="experience"
							th:value="${session.job.getExperience()}"></span></li>
					<li class="li"><span class="info-list">学历：</span> <span
						class="info-content"><input type="text" name="education"
							th:value="${session.job.getEducation()}"></span></li>
					<li class="li"><span class="info-list">工作性质：</span> <span
						class="info-content"><input type="text" name="nature"
							th:value="${session.job.getNature()}"></span></li>
					<li class="li"><label class="info-list">薪资待遇：</label> <span
						class="info-content"><input type="text" name="salary"
							th:value="${session.job.getSalary()}"></span></li>
					<li class="li"><span class="info-list">城市：</span> <span
						class="info-content"><input type="text" name="city"
							th:value="${session.job.getCity()}"></span></li>
					<li class="li"><span class="info-list">地址：</span> <span
						class="info-content"><input type="text" name="address"
							th:value="${session.job.getAddress()}"></span></li>
					<li class="li"><span class="info-list">岗位描述：</span> <span
						class="info-content"><input name="recruiterId"
							type="hidden" th:value="${session.recruiter.getId()}"></span></li>

				</ul>

			</div>

			<div class="user-input-container">
				<ul class="check-content">
					<li class="file-upload-section"><label class="label"></label>
						<textarea rows="33" cols="203"
							th:text="${session.job.getDescribes()}" name="describes"></textarea>
						<div class="submit-button-div">
							<input type="submit" value="确认更改"
								class="submit">
						</div>
				</ul>
			</div>
		</form>
		<form action="/recruiter/DeleteTheJob">
		<div class="user-input-container">
				<ul class="check-content">
					<li class="file-upload-section"><label class="label"></label>
						<div class="submit-button-div">
							<input
								type="submit" value="删除职位" class="submit"> 	
						</div>
						<input name="id"
							type="hidden" th:value="${session.job.getId()}">
				</ul>
			</div>
		</form>
	</div>
</body>
</html>