<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<title>招聘者界面</title>
<link rel="stylesheet" type="text/css"
	href="/css/main.html_aio_8c43af6.css">
<link rel="stylesheet" type="text/css"
	href="/css/layout_1be28a1.css">
<link rel="stylesheet" type="text/css"
	href="/css/widgets_72b87ec.css">
<link rel="stylesheet" type="text/css"
	href="/css/main.html_aio_2_997be1c.css">
<link
	href="/css/main_16f99127.css"
	rel="stylesheet">
	<link rel="stylesheet" type="text/css"
	href="/css/main.html_aio_2_997be1c.css">
<link rel="stylesheet" type="text/css"
	href="//www.lgstatic.com/www/static/pkg/layout_cb75ea0.css">
<link
	href="/css/main_16f99127.css"
	rel="stylesheet">
</head>
<body>
<div id="lg_tbar">
			<div class="inner">
				<ul class="lg_tbar_r">
				<li class="msg_dropdown" data-lg-tj-track-code="index_message">
						<a class="msg_group" href="/recruiter/ApplyLoad"
						data-lg-tj-id="5h00" data-lg-tj-no="idnull"
						data-lg-tj-cid="idnull" rel="nofollow">投递箱<em
							class="msg_amount hide" id="headMsgAmount"></em></a> 
					</li>
					<li class="user_dropdown" data-lg-tj-track-code="index_user"><span 
						class="unick bl" th:if="${session.recruiter.getName()==null}"
						th:text="${session.recruiter.getUsername()}+',快去完个人信息吧!'"></span> <span
						th:if="${session.recruiter.getName()!=null}" class="unick bl"
						th:text="${session.recruiter.getName()}+'你好！'"></span> <em
						class="noticeDot dn" id="noticeDot_name"></em> <i></i>
						<ul>
							<li><a href="/recruiter/PersonalInformationLoad" data-lg-tj-id="5c00"
								data-lg-tj-no="idnull" data-lg-tj-cid="idnull">更改信息</a></li>
							<li><a href="/recruiter/UpdatePassword" data-lg-tj-id="5c00"
								data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">更改密码</a></li>
							<li><a href="/recruitersLogin" data-lg-tj-id="5e00"
								data-lg-tj-no="idnull" data-lg-tj-cid="idnull" rel="nofollow">退出登录</a>
							</li>
						</ul></li>	
				</ul>
			</div>
		</div>
<div class="settings-header">
		<div class="settings-header-title">招聘设置</div>
		<ul class="settings-header-tab">
			<li><a href="/recruiter/PersonalInformationLoad"><span
					class="menu-item">个人信息</span></a><span class="divider"></span></li>
			<li><a href="/recruiter/IdentityLoad"><span class="menu-item menu-item-active">身份认证</span></a><span
				class="divider"></span></li>
			<li><a href="/recruiter/PostLoad"><span class="menu-item">发布职位</span></a><span
				class="divider"></span></li>
		</ul>
	</div>
	<div id="banner">
		<h1>加入公司，开始招聘</h1>
	</div>
	<div id="app">
		<div id="appMainContent">
			<div id="step">
				<div id="step_1" class="step_num">
					<span>完善个人信息</span>
				</div>
			</div>
			<form id="personalInfo" action="/recruiter/IdentityStep1" autocomplete="off"
				class="content_container no_label" method="post" enctype="multipart/form-data">
				<table class="table-layout">
					<tbody>
						<tr>
							<td class="title"><span class="required">头像</span></td>
							<td><p class="top" id="prvid">
									<img  alt="头像" class="avatar" width="120" height="120"
						th:if="${session.recruiter.getHeadpic()==null}" src="/userFile/recruiters/def.png">
						<img  alt="头像" class="avatar" width="120" height="120"
						th:if="${session.recruiter.getHeadpic()!=null}" th:src="${session.recruiter.getHeadpic()}">
								</p> 
								<div><span class="tips">建议使用招聘者真实头像提升真实性、专业性 <br>支持jpg、png的格式，小于10MB</span></div>
								<input type="file" name="headpic" class="img-box" onchange="previewImage(this, 'prvid')"
								 multiple="multiple">
						</td>
						</tr>
						<tr>
							<td class="title"><span class="required">姓名</span></td>
							<td><input type="text" placeholder="请填写你的常用名" name="name" 
							th:value="${session.recruiter.getName()}" required="required"
							data-meta="[object Object]" class="input">
							<span class="vue-error" style="display: none;"><i
									class="icon-glyph-attention2"></i> </span></td>
						</tr>
						<tr>
							<td class="title"><span class="required">职位</span></td>
							<td><div class="comp-wrap vue-input-suggest">
									<input name="position" placeholder="请填写当前公司的任职职位" 
									th:value="${session.recruiter.getPosition()}" type="text" required="required">
									<span class="vue-error" style="display: none;"><i
										class="icon-glyph-attention2"></i> </span>
									<ul class="suggests" style="display: none;"></ul>
								</div></td>
						</tr>
						<tr>
							<td class="title"><span class="required">接收简历邮箱</span></td>
							<td><input type="text" placeholder="请填写常用邮箱，支持招聘设置中修改"
								th:value="${session.recruiter.getMailbox()}" name="mailbox" required="required"> <span class="vue-error"
								style="display: none;"><i class="icon-glyph-attention2"></i>
							</span></td>
						</tr>
						<tr>
							<td class="title"><span class="required">公司全称</span></td>
							<td class="company-name-td"><div
									class="comp-wrap vue-input-suggest">
									<input name="companyname" th:value="${session.recruiter.getCompanyname()}"
										placeholder="请填写与营业执照名称/劳动合同/公司发票抬头一致的公司全称" type="text" required="required">
									<span class="vue-error" style="display: none;"><i
										class="icon-glyph-attention2"></i> </span>
									<ul class="suggests" style="display: none;"></ul>
								</div></td>
						</tr>
					</tbody>
				</table>
				<input type="submit" value="下一步" class="submit" th:if="${session.recruiter.getYesorno()!='yes'}">
				<input type="submit" value="下一步" class="submit" th:if="${session.recruiter.getYesorno()=='yes'}">
				<div class="preview">
					<p class="top" id="headpicture">
						<img  alt="头像" class="avatar" 
						th:if="${session.recruiter.getHeadpic()==null}" src="/userFile/recruiters/def.png">
						<img  alt="头像" class="avatar" 
						th:if="${session.recruiter.getHeadpic()!=null}" th:src="${session.recruiter.getHeadpic()}">
					</p>
					<p class="bottom">
						<span class="userName" th:text="${session.recruiter.getName()}"></span>
						<span class="positionName" th:text="${session.recruiter.getPosition()}"></span>
						<span th:text="${session.recruiter.getMailbox()}"></span> 
						<span th:text="${session.recruiter.getCompanyname()}"></span>
					</p>
					<span class="tail">示例</span>
				</div>
			</form>
			<!---->
		</div>
	</div>
	<script>
		　
		function previewImage(file, prvid) { 
		/* file：file控件 
		* prvid: 图片预览容器 
		*/ 
		var tip = "Expect jpg or png or gif!"; // 设定提示信息 
		var filters = { 
		"jpeg" : "/9j/4", 
		"gif" : "R0lGOD", 
		"png" : "iVBORw" 
		} 
		var prvbox = document.getElementById(prvid); 
		var prvbox2 = document.getElementById("headpicture"); 
		prvbox.innerHTML = ""; 
		prvbox2.innerHTML = ""; 
		if (window.FileReader) { // html5方案 
		for (var i=0, f; f = file.files[i]; i++) { 
		var fr = new FileReader(); 
		fr.onload = function(e) { 
		var src = e.target.result; 
		if (!validateImg(src)) { 
		alert(tip) 
		} else { 
		showPrvImg(src); 
		} 
		} 
		fr.readAsDataURL(f); 
		} 
		} else { // 降级处理

		if ( !/\.jpg$|\.png$|\.gif$/i.test(file.value) ) { 
		alert(tip); 
		} else { 
		showPrvImg(file.value); 
		} 
		} 

		function validateImg(data) { 
		var pos = data.indexOf(",") + 1; 
		for (var e in filters) { 
		if (data.indexOf(filters[e]) === pos) { 
		return e; 
		} 
		} 
		return null; 
		} 

		function showPrvImg(src) { 
		var img = document.createElement("img"); 
		var img2 = document.createElement("img"); 
		img.width="120";
		img.height="120";
		img.src = src; 
		img2.src = src; 
		prvbox.appendChild(img);
		prvbox2.appendChild(img2);
		} 
		}
		</script>
</body>
</html>